<!-- index.ejs -->
<div class="hero container">
    <div class="hero-text">
        <h1>We Ensure Better Education for a Better World</h1>
        <p>Our cutting-edge curriculum is designed to empower students with the knowledge, skills, and experience needed to excel in this dynamic world.</p>
        
    </div>
</div>

